-
  const pathStatics = PRODUCTION ? 'statics' : '/statics'

  function staticImg (image) {
    return `${pathStatics}/img/${image}`
  }

  const pages = [
    { view: 'index', name: 'главная' },
    { view: 'not-found', name: 'Страница, которую вы ищете, не найдена.' },
    { view: 'login', name: 'Авторизация' },
    { view: 'login-code', name: 'Введите код' },
    { view: 'login-tg', name: 'Вход через TG-бота' },
    { view: 'registration', name: 'Регистрация' },
    { view: 'registration-pas', name: 'Вам был отправлен пароль!' },
  ]
