section.not-found
  .not-found__cont.cont
    .not-found__area
      img.not-found__image(src=staticImg('not-found/not-found.svg') alt='')
      h1.not-found__title Страница, которую вы ищете, не&nbsp;найдена.
      a.not-found__button.btn-pink(href="#") На главную
