.office-modal.office-modal_bind-tg#bind-tg
  .office-modal__inner
    .office-modal__title Привязать TG-аккаунт
    .office-modal__description.
      Товарищи! рамки и место обучения кадров играет важную роль в формировании систем массового участия.
      Задача организации, в особенности же новая модель организационной деятельности влечет за собой процесс
      внедрения и модернизации систем массового участия.
    .office-modal__btns
      a.office-modal__btn.btn-border-white(href='#settings' data-fancybox data-fancybox-close-current)
        span Назад
      a.office-modal__btn.btn-pink(href='#code-tg' data-fancybox data-fancybox-close-current) Продолжить
