.office-modal.office-modal_change-pas#change-pas
  .office-modal__inner
    .office-modal__title Смена пароля
    label.office-modal__label
      .office-modal__placeholder.input-placeholder Новый пароль
      input.office-modal__input.input(type="password")
    label.office-modal__label
      .office-modal__placeholder.input-placeholder Подтверждение нового пароля
      input.office-modal__input.input(type="password")
    .office-modal__btns
      a.office-modal__btn.btn-border-white(href='#settings' data-fancybox data-fancybox-close-current)
        span Назад
      button.office-modal__btn.btn-pink(data-fancybox-close-current) Сменить
