.office-modal.office-modal_code-tg#code-tg
  .office-modal__inner
    .office-modal__title Привязать TG-аккаунт
    label.office-modal__label
      .office-modal__placeholder.input-placeholder Код из бота
      input.office-modal__input.input(type="password")
    .office-modal__btns
      a.office-modal__btn.btn-border-white(href='#bind-tg' data-fancybox data-fancybox-close-current)
        span Назад
      button.office-modal__btn.btn-pink(data-fancybox-close-current) Продолжить
