.office-modal.office-modal_confirm-question#confirm-question
  .office-modal__inner
    .office-modal__title Подтверждение запроса
    .office-modal__description.
      Подтвердите, пожалуйста, что вы уверены в своем вопросе и хотите узнать на него ответ.
    .office-modal__token-price
      | Стоимость вопроса -
      |
      span 1 токен
    .office-modal__btns
      button.office-modal__btn.btn-border-white(data-fancybox-close-current)
        span Вернуться
      button.office-modal__btn.btn-pink(data-fancybox-close-current) Продолжить
