.office-modal.office-modal_start#start
  .office-modal__inner
    .office-modal__title Прежде, чем начать...
    .office-modal__description Для корректной работы нейросети, важно указать своё имя и дату рождения.
    label.office-modal__label
      .office-modal__placeholder.input-placeholder Имя
      input.office-modal__input.input(type="text")
    label.office-modal__label
      .office-modal__placeholder.input-placeholder Дата рождения
      input.office-modal__input.input(type="text")
    button.office-modal__button.btn-pink(data-fancybox-close-current) Продолжить
