.office-modal.office-modal_success#success
  .office-modal__inner
    img.office-modal__success-icon(src=staticImg('office-modal-success-icon.svg') alt='')
    .office-modal__title Пополнено!
    .office-modal__text
      | Поздравляем с приобретением токенов! Они начислятся на Ваш счёт в ближайшее время
