.office-modal.office-modal_success#wrong
  .office-modal__inner
    img.office-modal__success-icon(src=staticImg('office-modal-wrong-icon.svg') alt='')
    .office-modal__title Упс... Что-то пошло не так
    .office-modal__text
      | Возможно, случилась ошибка оплаты или другая неполадка
    a.office-modal__button.btn-pink(href='#balance' data-fancybox data-close-fancybox) Вернуться к выбору пакета
