.wrapper
  flex-grow: 1
  display: flex
  flex-direction: column

.cont
  margin: 0 auto
  width: 100%
  max-width: calc(1410px + 40px)
  padding: 0 20px

.title
  font-size: 72px
  line-height: 130%
  color: $pink
  font-family: $font_family_second
  @include media(lg)
    font-size: 38px
  @include media(xs)
    font-size: 32px

.tag
  position: relative
  color: $orange
  font-size: 20px
  line-height: 140%
  background: rgba(222, 73, 22, 0.1)
  padding: 6px 14px
  border-radius: 8px
  display: inline-flex
  align-items: center
  @include media(sm)
    font-size: 16px
  @include media(xs)
    font-size: 12px
  &::before
    content: ''
    width: 14px
    height: 14px
    margin-right: 5px
    flex-shrink: 0
    +bgIcon('ic_tag_pin.svg')
    @include media(xs)
      width: 8px
      height: 8px

.section
  margin-bottom: 160px
  @include media(lg)
    margin-bottom: 90px
  @include media(xs)
    margin-bottom: 60px

.lk-modal-box
  border: 1px solid #c8b7cd
  max-width: 408px
  width: 100%
  padding: 24px
  box-shadow: inset 0 0 16px 2px rgba(242, 169, 255, 0.42)
  background: #270735
  border-radius: 20px

.lk-title
  font-weight: 400
  font-size: 24px
  line-height: 130%
  color: #f3cfff
  font-family: $font_family_second

.lk-layout-back
  display: block
  margin-top: 24px
  font-size: 16px
  line-height: 130%
  text-align: center
  color: #fff
  text-decoration: none

.error
  .input-placeholder
    color: $error
  .input
    color: $error
    border: 1px solid $error

.input-placeholder
  display: inline-block
  margin-bottom: 4px
  font-size: 12px
  line-height: 140%
  color: rgba(243, 207, 255, 0.5)

.office-wrap
  display: flex
  justify-content: space-between
  overflow-x: hidden
  &_sidebar-active
    .office
      width: calc(100% - 260px)
      @include media(xs)
        width: 100%
    .sidebar
      width: 260px
      flex-shrink: 0
      will-change: width
      pointer-events: all
      opacity: 1
      .sidebar__inner
        opacity: 1
        transition-delay: $transition-duration
        transition-property: opacity
        transition-duration: $transition-duration
      @include media(xs)
        width: 320px
        & + .sidebar__layer
          display: block

.hint
  pointer-events: none
  position: absolute
  top: 50%
  transform: translateY(-50%)
  left: 100%
  white-space: nowrap
  opacity: 0
  transition-property: opacity
  transition-duration: $transition-duration
  font-size: 14px
  line-height: 130%
  color: #fff
  padding: 10px 11px 10px 16px
  +bgIcon('sidebar-hint-bg.svg')
  @include media(lg)
    display: none

.simplebar-scrollbar
  background-color: rgba(255, 255, 255, 0.2)
  border-radius: 4px
  width: 8px
  &::before
    background-color: transparent
