-
  const sidebarArea = [
    {
      date: "Последние 7 дней",
      list: [
        "Что ждёт меня в будущем?",
        "Как мой солнечный знак влияет на мою личность?",
        "Какие черты характера присущи моему лунному знаку?",
        "Как узнать свой восходящий знак и что он значит?",
        "Влияет ли положение Венеры на мою любовную жизнь?",
        "Как расположение Марса в моем гороскопе влияет на мою энергию и инициативность",
        "Что значит ретроградный Меркурий в моем натальном гороскопе?",
        "Как моя натальная карта может помочь мне понять мои карьерные возможности?",
      ]
    },
    {
      date: "Апрель",
      list: [
        "Какие планеты и аспекты указывают на мои финансовые перспективы?",
        "Влияет ли Юпитер в моем гороскопе на мое везение?",
        "Как узнать, какие планеты находятся в моих домах?",
        "Какие дома и планеты связаны с моим здоровьем?",
        "Могу ли я увидеть в своем гороскопе предрасположенность к стрессу?",
        "Какие аспекты натальной карты указывают на мои творческие способности?",
        "Как понять влияние Сатурна в моем гороскопе на мою жизнь?",
        "Что говорит мое расположение планет о моих семейных отношениях?",
        "Как узнать, какие планеты и дома связаны с моими дружескими отношениями?",
        "Что показывает моя натальная карта о моих путешествиях и международных связях?",
      ]
    }
  ]

.sidebar(data-element="sidebar")
  .sidebar__inner
    button.sidebar__close(data-element="sidebar__close")
      img.sidebar__close-icon(src=staticImg('ic_sidebar_close.svg') alt='')
    button.sidebar__arrow-close(data-element="sidebar__arrow-close")
      .sidebar__hint.hint Закрыть боковую панель
    .sidebar__title Мои консультации
    form.sidebar__search
      input.sidebar__search-input.input(placeholder="Поиск" type='text')
      button.sidebar__search-submit
    .sidebar__area(data-simplebar)
      each area in [1,2]
        each box in sidebarArea
          .sidebar__box
            .sidebar__date= box.date
            .sidebar__list
              each item, index in box.list
                .sidebar__item(class = index === 0 ? 'sidebar__item_active' : false)= item
    button.sidebar__consult.btn-pink Новая консультация
.sidebar__layer(data-element="sidebar__layer")
