extends ../_layout/lk-layout
block lk-layout-content
  .lk-layout__box.lk-modal-box
    .lk-layout__title.lk-title Вход через TG-бота
    .lk-layout__text Отправьте боту свою дату рождения, e-mail, после чего он вышлет Вам код для авторизации.
    a.lk-layout__tg.btn-blue-tg(href='/login-code.html') Перейти в бота
    a.lk-layout__back.lk-layout-back(href='/login.html') Вернуться
