.articles
  @include media(lg)
    margin-bottom: 110px

.articles__cont

.articles__tag
  text-align: center
  margin-bottom: 30px
  @include media(lg)
    margin-bottom: 16px
  @include media(xs)
    margin-bottom: 12px

.articles__title
  text-align: center
  margin-bottom: 60px
  @include media(lg)
    margin-bottom: 40px
  @include media(xs)
    margin-bottom: 20px

.articles__area
  display: flex
  gap: 0 30px
  @include media(sm)
    flex-direction: column
    gap: 20px 0
  @include media(xs)
    gap: 16px 0
    max-width: 350px
    margin: 0 auto

.articles__box
  +bgIcon('articles/articles-card-bg.png')
  border-radius: 20px
  min-height: 280px
  padding: 30px
  display: flex
  flex-direction: column
  width: calc(33.33% - 20px)
  flex-shrink: 0
  @include media(sm)
    width: 100%
    min-height: 126px
    padding: 20px
    +bgIcon('articles/articles-card-bg_708.png')
  @include media(xs)
    padding: 18px
    border-radius: 12px
    +bgIcon('articles/articles-card-bg_320.png')

.articles__top
  padding-right: 60px
  position: relative
  display: flex
  justify-content: space-between
  margin-bottom: 20px
  @include media(sm)
    margin-bottom: 16px

.articles__headline
  font-size: 32px
  line-height: 130%
  font-family: $font_family_second
  @include media(sm)
    font-size: 20px
  @include media(xs)
    font-size: 18px

.articles__icon
  position: absolute
  top: -20px
  right: -20px
  width: 80px
  height: 80px
  @include media(sm)
    width: 72px
    height: 72px
    top: -10px
    right: -10px
  @include media(xs)
    width: 64px
    height: 64px

.articles__text
  margin-top: auto
  font-size: 18px
  line-height: 140%
  @include media(sm)
    font-size: 16px
    max-width: 412px
    width: 100%
  @include media(xs)
    font-size: 12px
    max-width: 212px
