.header
  position: sticky
  top: -1px
  z-index: 100
  //backdrop-filter: blur(10px)

.header_mobile-active
  .header__menu
    @include media(xs)
      opacity: 1
      pointer-events: all
  .header__burger
    @include media(xs)
      +bgIcon('ic_close_white.svg')

.header__cont

.header__area
  display: flex
  align-items: center
  justify-content: space-between
  height: 80px
  @include media(xs)
    justify-content: unset
    height: 60px

.header__logo
  width: 165px

.header__logo-image
  height: 40px

.header__menu
  @include media(xs)
    padding: 72px 24px 24px
    position: absolute
    top: 0
    z-index: 1
    right: 0
    width: 142px
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
    border-left: 1px solid rgba(255, 255, 255, 0.2)
    border-radius: 0 0 0 20px
    background: #461153
    transition-duration: $transition-duration
    transition-property: opacity
    pointer-events: none
    opacity: 0
    &::before
      content: ''
      background-color: $orange
      width: 273px
      height: 273px
      border-radius: 50%
      filter: blur(70px)
      position: absolute
      top: -172px
      right: -167px

.header__list
  display: flex
  gap: 0 40px
  @include media(lg)
    gap: 0 20px
  @include media(xs)
    flex-direction: column
    gap: 20px 0

.header__item

.header__link
  color: $pink
  text-decoration: none
  font-family: $font_family_second
  font-size: 14px
  line-height: 130%
  @include media(xs)
    font-size: 12px

.header__button
  @include media(xs)
    margin-left: auto
    position: relative
    z-index: 2

.header__button-span

.header__burger
  display: none
  @include media(xs)
    display: block
    width: 40px
    height: 40px
    margin-left: 18px
    +bgIcon('ic_burger_white.svg')
    position: relative
    z-index: 2
