.office-modal
  display: none

.office-modal_success
  max-width: 408px
  .office-modal__title
    text-align: center
    margin-bottom: 4px

.office-modal__inner

.office-modal__success-icon
  width: 80px
  height: 80px
  margin: 0 auto 12px

.office-modal__title
  margin-bottom: 12px
  font-weight: 400
  font-size: 24px
  line-height: 130%
  color: $pink
  font-family: $font_family_second

.office-modal__text
  font-size: 16px
  line-height: 140%
  text-align: center
  color: rgba(243, 207, 255, 0.64)

.office-modal__description
  font-size: 14px
  line-height: 140%
  color: rgba(243, 207, 255, 0.64)

.office-modal__button
  margin-top: 20px
  width: 100%
