.office
  width: 100%
  transition-property: width
  transition-duration: $transition-duration
  padding: 20px 0 32px
  +bgIcon('lk-layout/lk-layout-bg.svg')
  background-size: cover
  @include media(sm)
    +bgIcon('lk-layout/lk-layout-bg_768.svg')
    background-size: cover
  @include media(xs)
    +bgIcon('lk-layout/lk-layout-bg_360.svg')
    background-size: cover

.office__sidebar-open
  width: 44px
  height: 72px
  position: absolute
  top: 50%
  left: 0
  transform: translateY(-50%)
  path
    fill: rgba(white, .5)
    transition-property: fill
    transition-duration: $transition-duration
  &:hover
    path
      fill: rgba(white, 1)
    .office__sidebar-hint
      opacity: 1
  @include media(xs)
    display: none

.office__sidebar-hint

.office__cont
  padding: 0 20px
  min-height: calc(100vh - 52px)
  display: flex
  flex-direction: column
  justify-content: space-between

.office__header
  display: flex
  align-items: center

.office__logo
  width: 127px
  @include media(xs)
    width: 34px

.office__logo-image
  height: 34px
  @include media(xs)
    height: 34px

.office__balance
  margin-left: auto
  padding: 5px 12px
  font-size: 16px
  border-radius: 8px
  &::before
    content: ''
    width: 20px
    height: 20px
    margin-right: 8px
    +bgIcon('logo-circle.svg')

.office__user
  margin-left: 24px
  width: 34px
  height: 34px

.office__user-image
  border-radius: 50%

.office__popup
  position: absolute
  z-index: 10
  top: 66px
  right: 20px
  border: 1px solid rgba(255, 255, 255, 0.2)
  border-radius: 16px
  padding: 18px 32px 19px 18px
  width: 198px
  background: #351645
  opacity: 0
  pointer-events: none
  transition-property: opacity
  transition-duration: $transition-duration
  @include media(xs)
    right: 60px

.office__popup.active
  opacity: 1
  pointer-events: all

.office__popup-user
  display: flex

.office__popup-avatar
  border-radius: 50%
  margin-right: 8px
  flex-shrink: 0
  width: 28px
  height: 28px

.office__popup-user-box

.office__popup-name
  font-size: 14px
  line-height: 130%
  color: $pink
  font-family: $font_family_second

.office__popup-email
  font-size: 12px
  line-height: 130%
  color: rgba(243, 207, 255, 0.5)
  font-family: $font_family_second

.office__popup-box
  padding-top: 16px
  margin-top: 16px
  border-top: 1px solid rgba(243, 207, 255, 0.2)

.office__popup-line
  display: flex
  align-items: center
  text-decoration: none
  &:not(:first-of-type)
    margin-top: 16px

.office__popup-line-icon
  flex-shrink: 0
  margin-right: 12px
  width: 14px
  height: 14px

.office__popup-line-span
  color: $pink
  font-size: 14px
  line-height: 130%

.office__burger
  display: none
  @include media(xs)
    display: block
    width: 30px
    height: 30px
    margin-left: 10px
    flex-shrink: 0

.office__inner
  height: calc(100vh - 142px)
  padding: 27px 20px 70px 0
  width: calc(100% + 20px)
  position: relative
  &::before
    content: ''
    background: linear-gradient(0deg, #21042f 0%, rgba(33, 4, 47, 0) 100%)
    height: 105px
    position: absolute
    z-index: 1
    bottom: 0
    left: 0
    right: 0

.office__inner-box
  max-width: 800px
  width: 100%
  margin: 0 auto

.office__area
  padding: 50px 0
  display: flex
  flex-direction: column
  justify-content: center
  max-width: 488px
  margin: 0 auto
  height: calc(100vh - 142px)

.office__icon
  margin: 0 auto 12px
  width: 60px
  height: 60px

.office__title
  margin-bottom: 12px
  font-size: 24px
  line-height: 130%
  text-align: center
  color: $pink
  font-family: $font_family_second

.office__text
  font-size: 16px
  line-height: 140%
  text-align: center
  color: $pink
  a
    font-weight: 700
    text-decoration: underline
    text-decoration-skip-ink: none
    color: #fff

.office__search
  position: relative
  max-width: 800px
  width: 100%
  margin: 0 auto

.office__search-textarea
  padding: 16px 54px 17px 16px
  height: 56px
  min-height: 56px
  max-height: 200px

.office__search-submit
  position: absolute
  bottom: 12px
  right: 12px
  rect
    fill: rgba(#fff, 1)
    transition-property: fill
    transition-duration: $transition-duration
  &:disabled
    cursor: default
    rect
      fill: rgba(#fff, .1)

.office__search-icon
  width: 30px
  height: 30px
  border-radius: 8px

.office__article

.office__question
  margin-bottom: 40px
  text-align: right

.office__question-value
  display: inline-block
  font-size: 16px
  line-height: 130%
  color: $pink
  padding: 12px 20px 11px
  background: #351645
  border-radius: 24px

.office__article-wrap
  display: flex

.office__article-icon
  width: 34px
  height: 34px
  margin-right: 24px
  flex-shrink: 0

.office__article-inner
  flex-grow: 1
  h2
    margin-bottom: 10px
    font-weight: 700
    font-size: 20px
    line-height: 140%
    color: #fff
    span
      color: $orange
      font-weight: 700
  h3
    margin-top: 20px
    font-weight: 700
    font-size: 16px
    line-height: 175%
    color: #fff
  p
    font-weight: 400
    font-size: 16px
    line-height: 175%
    color: #fff

.office__article-await
  margin: 100px 0

.office__article-await-icon
  width: 80px
  height: 80px
  margin: 0 auto 24px

.office__article-await-note
  margin-bottom: 20px
  font-size: 18px
  line-height: 130%
  text-align: center
  color: $pink
  font-family: $font_family_second

.office__article-await-left
  font-size: 24px
  line-height: 130%
  text-align: center
  color: #fff
  font-family: $font_family_second
