extends ../components/_layout/layout

block head
  +title('АстроИИ')

block body
  include ../components/cap
  include ../components/about
  include ../components/articles
  include ../components/advantages
  include ../components/faq
  include ../components/channel
