extends ../components/_layout/layout

block head
  +title('АстроИИ')

block body
  include ../components/_layout/header
  include ../components/index/cap
  include ../components/index/about
  include ../components/index/articles
  include ../components/index/advantages
  include ../components/index/faq
  include ../components/index/channel
  include ../components/_layout/footer
