extends ../components/_layout/layout

block head
  +title('Личный кабинет с открытым предсказанием')

block body
  .office-wrap(data-element="office-wrap")
    include ../components/office/sidebar
    include ../components/office/office
    +office('article')
    include ../components/modals/advice
    include ../components/modals/balance
    include ../components/modals/success
    include ../components/modals/wrong
    include ../components/modals/settings
    include ../components/modals/change-pas
    include ../components/modals/bind-tg
    include ../components/modals/code-tg
    include ../components/modals/start
    include ../components/modals/help
    include ../components/modals/confirm-question
