section.about.section
  .about__cont.cont
    .about__wrap
      .about__area
        h2.about__title.title О канале
        .about__box
          p.about__text.
            АстроИИ - это уникальный телеграм-канал, где гороскопы&nbsp;составляются с использованием передовой нейросети,
            обученной астрологической компанией на протяжении 10 лет.
          p.about__text.
            Мы предлагаем точные, персонализированные и инновационные прогнозы для каждого знака Зодиака, обеспечивая
            непревзойденное качество и точность.
      picture.about__picture
        source(src=staticImg('about/about-1_640.jpg') media="(max-width: 767px)")
        source(src=staticImg('about/about-1_708.jpg') media="(max-width: 1024px)")
        img.about__image(src=staticImg('about/about-1.jpg') alt='')
