section.cap
  .cap__cont.cont
    .cap__area
      h1.cap__title АстроИИ: Ваш персональный астрологический помощник, обученный искусственным интеллектом
      .cap__text 10 лет обучения нейросети для точных и&nbsp;персонализированных гороскопов
      a.cap__link.btn-pink(href='#' target='_blank') Перейти на канал
      img.cap__decor(src=staticImg('cap/cap-decor.svg') alt='')
      picture.cap__picture
        img.cap__image(src=staticImg('cap/cap-1.jpg'))
