section.channel.section
  .channel__cont.cont
    h2.channel__title.title АстроИИ  Твой&nbsp;проводник судьбы
    .channel__box
      a.channel__button.btn-pink(href='#' target='_blank') Перейти на канал
