footer.footer
  .footer__cont.cont
    .footer__list
      each item in [1,2,3,4,5,6,7,8,9,10,11,12]
        img.footer__icon(class=`footer__icon_${item}` src=staticImg(`footer/ic_footer_${item}.svg`) alt='')
    p.footer__copyright.
      2011-2020 ООО «АстроИИ», ОГРН 1117746121580, свидетельство от 21.02.2011. Внимание: все права на использование
      материалов портала принадлежат компании "Астростар". Копирование материалов, опубликованных на портале,
      запрещено. Условия оказания услуг доступны на этой странице. Портал может содержать информацию и материалы,
      предназначенные для пользователей старше 18 лет.
    .footer__bottom
      a.footer__link(href="#") Пользовательское соглашение
      a.footer__link(href="#") Политика конфиденциальности
      .footer__span Сделано в “Цифровые Инвестиции”
