-
  const headerList = [
    { text: 'Главная', link: '#body' },
    { text: 'О канале', link: '#about' },
    { text: 'Преимущества', link: '#advantages' },
    { text: 'Вопрос-ответ', link: '#faq' },
  ]

header.header
  .header__cont.cont
    .header__area
      .header__logo
        img.header__logo-image(src=staticImg('logo.svg') alt='')
      nav.header__menu
        ul.header__list
          each item in headerList
            li.header__item
              a.header__link(href=item.link data-role="scroll-to-anchor")= item.text
      button.header__button.btn-white
        span.header__button-span Войти
